.textBlockSection,
.textBlockSection * {
  box-sizing: border-box;
}

.textBlockSection {
  background: #ffffff;
  padding: 80px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .textBlockSection {
    padding: 144px 20px 48px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .textBlockWrap {
    border-style: solid;
    border-color: var(--strokes-strokes-and-lines-for-text-blocks, #d8e2e6);
    border-width: 1px;
    padding: 0px 80px 0px 80px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 1440px;
    position: relative;
  }
}

.image {
  flex-shrink: 0;
  width: 630px;
  height: 576px;
  position: relative;
  object-fit: cover;
}
@media screen and (max-width: 1279px) {
  .image {
    align-self: stretch;
    width: 100%;
    height: 240px;
    margin-bottom: 16px;
  }
}

.textBtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  /* margin-top: 16px; */
}
@media screen and (min-width: 1280px) {
  .textBtnBox {
    padding: 32px 0px 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 617px;
    position: relative;
  }
}

.title {
  color: var(--text-river-styx, #0c1012);
  text-align: left;
  font-family: var(--h3-font-family, 'Adelle-SemiBold', sans-serif);
  font-size: var(--h3-font-size, 32px);
  line-height: var(--h3-line-height, 40px);
  font-weight: var(--h3-font-weight, 600);
  position: relative;
  align-self: flex-start;
}
@media screen and (max-width: 1279px) {
  .title {
    position: absolute;
    top: -352px;
  }
}

.textWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .textWrap {
    /* height: 264px; */
    overflow: hidden;
  }
}

.text {
  color: var(--text-river-styx, #0c1012);
  text-align: left;
  font-family: var(
    --body-medium-font-family,
    'HvDTrialBrandonText-Regular',
    sans-serif
  );
  font-size: var(--body-medium-font-size, 16px);
  line-height: var(--body-medium-line-height, 24px);
  font-weight: var(--body-medium-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.button {
  border-radius: 4px;
  padding: 16px 48px 16px 48px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.label {
  color: var(--accent-midsummer, #336666);
  text-align: center;
  font-family: var(
    --buttons-font-family,
    'HvDTrialBrandonText-Bold',
    sans-serif
  );
  font-size: var(--buttons-font-size, 16px);
  line-height: var(--buttons-line-height, 18px);
  font-weight: var(--buttons-font-weight, 700);
  position: relative;
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  fill: #3b525b;
}

.rotate {
  rotate: 180deg;
}
