:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .mainContainer {
    overflow: hidden;
  }
  
  .mainContainer,
  .mainContainer * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1440px;
    height: 637px;
    margin: 0 auto;
    padding: 32px 70px 0 80px;
    background: #ffffff;
  }
  @media screen and (max-width: 1279px) {
    .mainContainer {
      
      flex-direction: column;
      align-items: center;
      gap: 24px;
      position: absolute;
      width: 372px;
      height: 154px;
      top: 0;
      left: 50%;
      margin: 0 auto;
      transform: translate(-50%, 0);
    }
  }
  
.heroContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 586px;
    padding: 48px 0 0 0;
  }
  @media screen and (max-width: 1279px) {
.heroContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 372px;
}
  }
  
  @media screen and (min-width: 1280px) {
  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    z-index: 1;
  }
}

@media screen and (min-width: 1280px) {
  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    z-index: 2;
  }
}
  .elevateYourSpace {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    font-family: Mulish, var(--default-font-family);
    font-size: 64px;
    font-weight: 700;
    line-height: 83.2px;
    text-align: left;
    letter-spacing: -1.28px;
    z-index: 3;
  }
  @media screen and (max-width: 1279px) { 
    .elevateYourSpace {
      align-self: stretch;
      flex-shrink: 0;
      position: relative;
      min-width: 0;
      font-family: Adelle, var(--default-font-family);
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      z-index: 1;
    }
  }
  

  .elevateYourSpace1 {
    position: relative;
    color: #0c1012;
    font-family: Adelle, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 83.2px;
    text-align: left;
    letter-spacing: -1.28px;
  }
  @media screen and (max-width: 1279px) { 
    .elevateYourSpace1{
      position: relative;
      color: #0c1012;
      font-family: Adelle, var(--default-font-family);
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
    
    }
  }
  
  .empty {
    position: relative;
    color: #0c1012;
    font-family: Adelle, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 83.2px;
    text-align: left;
    letter-spacing: -1.28px;
  }
  @media screen and (max-width: 1279px) { 
    .empty{
      position: relative;
  color: #0c1012;
  font-family: Adelle, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
    }
  }

  .style {
    position: relative;
    color: #336666;
    font-family: Adelle, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 83.2px;
    text-align: left;
    letter-spacing: -1.28px;
  }

  @media screen and (max-width: 1279px) { 
.style{
  position: relative;
  color: #336666;
  font-family: Adelle, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
  }
  .empty2 {
    position: relative;
    color: #0c1012;
    font-family: Adelle, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 83.2px;
    text-align: left;
    letter-spacing: -1.28px;
  }

  @media screen and (max-width: 1279px) { 
.empty2{
  position: relative;
  color: #0c1012;
  font-family: Adelle, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
  }
  .and {
    position: relative;
    color: #0c1012;
    font-family: Adelle, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 83.2px;
    text-align: left;
    letter-spacing: -1.28px;
  }

  @media screen and (max-width: 1279px) { 
    .and{
      position: relative;
  color: #0c1012;
  font-family: Adelle, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
    }
  }
  .style3 {
    position: relative;
    color: #336666;
    font-family: Adelle, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 83.2px;
    text-align: left;
    letter-spacing: -1.28px;
  }

  @media screen and (max-width: 1279px) { 
.style3{
  position: relative;
  color: #336666;
  font-family: Adelle, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
  }
  .styleMeetsComfort {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 586px;
    height: 48px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    z-index: 4;
  }
  @media screen and (max-width: 1279px) {
      .styleMeetsComfort {
        display: none;
      }
    }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    width: 164px;
    padding: 16px 48px 16px 48px;
    cursor: pointer;
    background: #3b525b;
    border: none;
    z-index: 5;
    border-radius: 4px;
  }
  @media screen and (max-width: 1279px) {
    .button{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      flex-shrink: 0;
      gap: 12px;
      position: relative;
      width: 164px;
      padding: 16px 48px 16px 48px;
      cursor: pointer;
      background: #3b525b;
      border: none;
      z-index: 2;
      border-radius: 4px;
    }
  }
  
  .shopNow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 68px;
    height: 18px;
    color: #ffffff;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    z-index: 6;
  }
  @media screen and (max-width: 1279px) {
    .shopNow{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-shrink: 0;
      flex-basis: auto;
      position: relative;
      width: 68px;
      height: 18px;
      color: #ffffff;
      font-family: HvDTrial Brandon Text, var(--default-font-family);
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-align: center;
      white-space: nowrap;
      z-index: 3;
    }
  }
 

  .rectangle {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 665px;
    min-height: 0;
    background: url("../../../images/Rectangle-18.jpg")
      no-repeat center;
    background-size: cover;
    z-index: 7;
  }
  @media screen and (max-width: 1279px) {
    .rectangle {
      position: relative;
      width: 412px;
      height: 488px;
      margin: 0 auto;
      background: url("../../../images/Rectangle-18.jpg")
        no-repeat center;
      background-size: cover;
    }
  }
  
  