.Swiper.swiper-pagination {
    background-color: brown; 
  }
  /* .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  } */
  
  :root {
   --swiper-navigation-size: 20px
  }
  
  .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    display: none;
  }
  
  .swiper-pagination {
    position: relative;
    padding-top: 24px;
    color: bisque;
  }
  
  
  .swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background-color: #336666;
  }