:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .mainContainer {
    overflow: hidden;
  }
  
  .mainContainer,
  .mainContainer * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding: 0 80px 0 79px;
    background: #ffffff;
    border: 1px solid #d8e2e6;
  }
  @media screen and (max-width: 1279px) {
    .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  position: relative;
  width: 412px;
  margin: 0 auto;
  padding: 0px 20px 32px 20px;
  background: #ffffff;
  border: none;
  }
}

.frameMob1,
.frameMob2 {
  align-items: center;
  background: #ffffff;
  border-left: 1px solid #d8e2e6;
  columns: 2;
}

@media screen and (max-width: 1279px) {
  .frameMob1,
  .frameMob2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    width: 376px;
    z-index: 1;
    border: none;
    }
  }


  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 176px;
    padding: 24px 2px 24px 20px;
    z-index: 2;
  }
  @media screen and (max-width: 1279px) {
    .feature{
      border-left: none;
    }
  }

  @media screen and (max-width: 1279px) {
    .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 176px;
  padding: 24px 20px 24px 20px;
  z-index: 2;
    }
  }

  .icons1 {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 3;
    overflow: hidden;
  }
  .fastAndReliableDelivery {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 129px;
    height: 48px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    z-index: 4;
  }
  .feature1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 176px;
    padding: 24px 20px 24px 20px;
    border-left: 1px solid #d8e2e6;
    z-index: 2;
  }
  @media screen and (max-width: 1279px) {
    .feature1 {
      border-left: none;
      }
    }

  .icons2 {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 6;
    overflow: hidden;
  }
  .bonusesAndGifts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 129px;
    height: 48px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    z-index: 7;
  }

  .feature3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 176px;
    padding: 24px 2px 24px 20px;
    z-index: 2;
  }

  @media screen and (max-width: 1279px) {
    .feature3 {
      border-left: none;
      }
    } 

  .icons3 {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 9;
    overflow: hidden;
  }
  .tailoredCustomerSupport {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 129px;
    height: 48px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    z-index: 10;
  }

  .feature5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 176px;
    padding: 24px 20px 24px 2px;
    border-left: 1px solid #d8e2e6;
    z-index: 2;
  }
  
  @media screen and (max-width: 1279px) {
    .feature5 {
      border-left: none;
      }
    } 

  .icons4 {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 12;
    overflow: hidden;
  }
  .satisfactionGuarantee {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 129px;
    height: 48px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    z-index: 13;
  }
  .frame {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 626px;
    padding: 0 78px 0 0;
  }

  @media screen and (max-width: 1279px) {
    .frame {
  flex-shrink: 0;
  position: relative;
  width: 255px;
  font-family: Adelle, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
    }
  }

  .whyChooseHomewell {
    flex-shrink: 0;
    position: relative;
    width: 341px;
    cursor: pointer;
    font-family: Adelle, var(--default-font-family);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    background: transparent;
    border: none;
    z-index: 1;
  }
  .whyChoose {
    position: relative;
    color: #0c1012;
    font-family: Adelle, var(--default-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
  }
  @media screen and (max-width: 1279px) {
    .whyChoose {
  font-size: 24px;
    }}

  .empty {
    position: relative;
    color: #0c1012;
    font-family: Adelle, var(--default-font-family);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
  }
  
  .homewell {
    position: relative;
    color: #336666;
    font-family: Adelle, var(--default-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
  }
  @media screen and (max-width: 1279px) {
    .homewell {
  font-size: 24px;
  line-height: 32px;
    }
  }