:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .mainContainer {
    overflow: hidden;
  }
  
  .mainContainer,
  .mainContainer * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 32px;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding: 64px 80px 64px 80px;
    background: #ffffff;
  }
  .frame {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 751px;
  }
  .whatClientsSay {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 751px;
    height: 64px;
    color: #0c1012;
    font-family: Adelle, var(--default-font-family);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
  }
  .frame1 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 755px;
    height: 112px;
    padding: 0 0 0 16px;
    border-left: 1px solid #d8e2e6;
    z-index: 2;
  }
  .homewellTestimonial {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 739px;
    height: 112px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    z-index: 3;
  }
  .frame2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 80px;
    position: relative;
    width: 920px;
    z-index: 4;
  }
  .frame3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 120px;
    z-index: 5;
  }
  
  .frame4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 62px;
    z-index: 7;
  }
  .frame5 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 62px;
    z-index: 8;
  }
  .name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }

  .ellipse {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 120px;
    /* background: url(../assets/images/1eab61e1-9023-41cf-a987-084e9d75ba2a.png)
      no-repeat center; */
    background-size: cover;
    z-index: 6;
    border-radius: 50%;
  }

  /* .ellipseNone {
    flex-shrink: 0;
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../assets/images/fc6ef620-1153-4c9d-879b-590384c701f3.png)
      no-repeat center;
    background-size: cover;
    z-index: 10;
    border-radius: 50%;
  }
  */
  