:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .mainContainer {
    overflow: hidden;
  }
  
  .mainContainer,
  .mainContainer * {
    box-sizing: border-box;
  }
  
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 32px;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding: 64px 80px 64px 80px;
    background: #ffffff;
  }
  @media screen and (max-width: 1279px) {
    .mainContainer{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      gap: 24px;
      position: relative;
      width: 412px;
      margin: 0 auto;
      padding: 32px 0px 32px 0px;
      background: #ffffff;
      overflow: hidden;
   }
}

  .frame {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 751px;
  }
  @media screen and (max-width: 1279px) {
    .frame {
      display: flex;
      align-items:flex-start;
      flex-wrap: nowrap;
      flex-shrink: 0;
      gap: 10px;
      position: relative;
      width: 412px;
      padding: 0 20px 0 20px;
      background: #ffffff;

    }
    }

  .whatClientsSay {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 751px;
    height: 64px;
    color: #0c1012;
    font-family: Adelle, var(--default-font-family);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
  }
  @media screen and (max-width: 1279px) {
    .whatClientsSay {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-shrink: 0;
      position: relative;
      width: 372px;
      height: 80px;
      color: #0c1012;
      font-family: Adelle, var(--default-font-family);
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      z-index: 1;
      background: #ffffff;     
    }
  }

  @media screen and (min-width: 1280px) {
    .brMob {
    display: none;
    }
  }

  .frame1 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 755px;
    height: 112px;
    padding: 0 0 0 16px;
    border-left: 1px solid #d8e2e6;
    z-index: 2;
  }
  @media screen and (max-width: 1279px) {
    .frame1 {
      display: flex;
      align-items: center;
      align-self: stretch;
      flex-wrap: nowrap;
      flex-shrink: 0;
      gap: 10px;
      position: relative;
      height: 170px;
      padding: 8px 0 0 16px;
      border-left: 1px solid #b9c5ca;
      z-index: 5;
      background: #ffffff;
    }
    }

  .homewellTestimonial {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 739px;
    height: 112px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    z-index: 3;
  }
  @media screen and (max-width: 1279px) {
    .homewellTestimonial {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      align-self: stretch;
      flex-shrink: 0;
      position: relative;
      width: 356px;
      height: 168px;
      color: #0c1012;
      font-family: HvDTrial Brandon Text, var(--default-font-family);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      z-index: 6;
    }
  }

  .frame2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 80px;
    position: relative;
    width: 920px;
    z-index: 4;
  }
  @media screen and (max-width: 1279px) {
    .frame2 {
      display:flex;
      align-items: center;
      text-align: center;
      flex-wrap: nowrap;
      flex-direction:column ;
      flex-shrink: 0;
      gap: 20px;
      position: relative;
      z-index: 2;
      overflow: hidden;
      padding-right: 250px;
    }
  }
  .frame3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 80px;
    position: relative;
    width: 920px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1279px) {
    .frame3 {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 200px;
      position: relative;
      width: 380px;
      margin: 0 auto;
    }
  }
  .frame4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 62px;
    z-index: 7;
  }
  .frame5 {
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 16px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 62px;
    z-index: 8;
  }
  .name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 28px;
    color: #0c1012;
    font-family: HvDTrial Brandon Text, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }

  .ellipse {
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 120px;
    background-size: cover;
    z-index: 6;
    border-radius: 50%;
  }

  .ellipseNone {
    flex-shrink: 0;
    position: relative;
    width: 80px;
    height: 80px;
    background-size: cover;
    z-index: 10;
    border-radius: 50%;
    opacity: 0.5;
  }
 
  .nameNone {
    display: none;
  }
  