
.splide__slide {
    margin-right: 40px; 
  }
  
 
  .splide__slide:first-child {
    margin-left: 10px; 
  }

 
  .splide__pagination {
    
    padding-bottom: 530px ; 
  }

  .splide__pagination__page {
    background: rgb(255, 166, 0) !important; /*????????? */
    border-radius: 0% ;
  }