
.splide__slide {
    margin-right: 40px; /* Установите нужное значение для правого отступа между слайдами */
  }
  
  /* Если вам нужно установить отступы и для первого слайда, вы можете использовать :first-child */
  .splide__slide:first-child {
    margin-left: 10px; /* Установите нужное значение для левого отступа первого слайда */
  }

 
  .splide__pagination {
    
    padding-bottom: 530px ; 
  }