.swiper-button-next::after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: rgb(255, 146, 127) !important;
  background-color: rgb(0, 255, 76) !important;
}